
<% extend('layout_master') %>
<div id="myBoard" style="width: 558px">

</div>



<div id="audio-list">
    <audio id="sound_kill_piece" src="/sound/sound_kill_piece.m4a" ></audio>
    <audio id="sound_win" src="/sound/win_sound.m4a" ></audio>
    <audio id="sound_attacked_king" src="/sound/sound_attacked_king.m4a" ></audio>
    <audio id="sound_stepmove" src="/sound/sound_stepmove.m4a" ></audio>
    <audio id="sound_start_game" src="/sound/sound_start_game.m4a" ></audio>
    <audio id="sound_lose" src="/sound/sound_lose.m4a" ></audio>
</div>
